@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body{
  background: #020617;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
@layer base  {
  button{
    @apply transition-all duration-100 hover:scale-110
  }
  small,h3{
    @apply text-slate-500 text-[15px]
  }
  
}

@layer utilities {
  .btn {
    @apply px-4 py-3 text-sm capitalize
  }
  .btn-primary{
    @apply bg-[#a049f1]  text-white font-semibold
  }
  .btn-primary-outline{
    @apply border border-slate-700 text-white font-semibold
  }
  .image-name{
    @apply bg-orange-200 text-orange-500 px-2 py-3 max-w-fit text-2xl
  }
}